In [35]:
from scripts import preprocessing_old
from scripts import predict_stromfluss
from scripts import preprocessing_weatherdata
from scripts import preprocessing_plannedProduction
from scripts import preprocessing_trade_price_consumption
from bda import bda_utilities
import pandas as pd
import numpy as np

Load and format power flow.

In [24]:
df = predict_stromfluss.read_data_stromfluss('./data/stromfluss')
df = predict_stromfluss.preprocessing_stromfluss(df)

In [25]:
def create_net_columns(df):
    countries = ["NL", "CHE", "DNK", "CZE", "LUX", "SWE", "AUT", "FRA", "PL"]
    for country in countries:
        im_key = country + "_IM"
        ex_key = country + "_EX"
        df[country]=df[im_key] +df[ex_key]
        df = df.drop(columns=[im_key,ex_key])
    return df

In [26]:
df = create_net_columns(df)
df = df.rename(columns={"Date":"date"})
df.head()

,date,NX,NL,CHE,DNK,CZE,LUX,SWE,AUT,FRA,PL
0,2015-06-01 00:00:00,7279.0,3932.0,145.0,-272.0,554.0,0.0,1.0,1394.0,246.0,1279.0
1,2015-06-01 01:00:00,7167.0,4014.0,261.0,-141.0,469.0,0.0,1.0,1355.0,66.0,1142.0
2,2015-06-01 02:00:00,6667.0,3864.0,103.0,-326.0,422.0,0.0,1.0,1574.0,-105.0,1134.0
3,2015-06-01 03:00:00,6413.0,4242.0,42.0,-262.0,235.0,0.0,1.0,1271.0,-206.0,1090.0
4,2015-06-01 04:00:00,5347.0,4292.0,-127.0,-582.0,161.0,0.0,1.0,1068.0,-549.0,1083.0

Load and format weather data.

In [16]:
df_weather = preprocessing_weatherdata.import_weatherData()
df_weather = df_weather[df_weather['date'].dt.year >= 2015]
df_weather.head()

,date,DE_av_windspeed_ms_north,DE_percip_mm_north,DE_sun_hrs_north,DE_av_windspeed_ms_south,DE_percip_mm_south,DE_sun_hrs_south,DK_sun_hrs,DK_av_windSpeed_ms,CZ_av_temperatureChange,CZ_av_windSpeed,FR_av_temperatureChange,FR_av_windSpeed
48942,2015-01-01,7.336364,-112.171429,2.980412,2.880556,0.065789,2.053026,0.0,8.4,NaN,NaN,NaN,NaN
48943,2015-01-02,10.930303,-112.431429,0.984794,5.925714,3.997368,0.451316,2.0,12.0,NaN,NaN,NaN,NaN
48944,2015-01-03,8.972727,-111.354286,0.045118,4.957143,14.647368,0.111895,2.5,8.2,NaN,NaN,NaN,NaN
48945,2015-01-04,7.393939,-113.365714,3.463676,4.774286,1.015789,1.045184,5.2,6.0,NaN,NaN,NaN,NaN
48946,2015-01-05,5.606061,-113.351429,0.894176,3.035294,0.168421,4.415789,0.3,3.2,NaN,NaN,NaN,NaN

In [21]:
#make hourly
df_weather = bda_utilities.make_hourly(df_weather)
df_weather.head()

,date,DE_av_windspeed_ms_north,DE_percip_mm_north,DE_sun_hrs_north,DE_av_windspeed_ms_south,DE_percip_mm_south,DE_sun_hrs_south,DK_sun_hrs,DK_av_windSpeed_ms,CZ_av_temperatureChange,CZ_av_windSpeed,FR_av_temperatureChange,FR_av_windSpeed
0,2015-01-01 00:00:00,7.336364,-112.171429,2.980412,2.880556,0.065789,2.053026,0.0,8.4,NaN,NaN,NaN,NaN
1,2015-01-01 01:00:00,7.336364,-112.171429,2.980412,2.880556,0.065789,2.053026,0.0,8.4,NaN,NaN,NaN,NaN
2,2015-01-01 02:00:00,7.336364,-112.171429,2.980412,2.880556,0.065789,2.053026,0.0,8.4,NaN,NaN,NaN,NaN
3,2015-01-01 03:00:00,7.336364,-112.171429,2.980412,2.880556,0.065789,2.053026,0.0,8.4,NaN,NaN,NaN,NaN
4,2015-01-01 04:00:00,7.336364,-112.171429,2.980412,2.880556,0.065789,2.053026,0.0,8.4,NaN,NaN,NaN,NaN

Load and format consumption data

NameError: name 'numberparse' is not defined

,date,FR_production_MW_planned,FR_production_MW_actual,CZ_DE_sum_Trade_MW_actual,CZ_DE_sum_Trade_MW_planned,CZ_production_MW_planned,DE_production_MW_planned,DE_production_MW_actual
0,2017-01-01,58367.062500,60671.125000,NaN,NaN,NaN,1335338.0,1298110.25
1,2017-01-02,63173.583333,65638.687500,NaN,NaN,NaN,1822690.0,1695523.50
2,2017-01-03,65237.541667,68084.437500,NaN,NaN,NaN,1794084.0,1605824.75
3,2017-01-04,64608.520833,67443.812500,NaN,NaN,NaN,1363933.0,1207218.75
4,2017-01-05,65933.500000,68893.145833,NaN,NaN,NaN,1404833.0,1279176.75
5,2017-01-06,66083.895833,69099.312500,NaN,NaN,NaN,1628262.0,1447324.50
6,2017-01-07,62668.750000,65232.520833,NaN,NaN,6814.666504,NaN,NaN
7,2017-01-08,59461.979167,61724.020833,NaN,NaN,7444.541504,NaN,NaN
8,2017-01-09,66226.770833,68856.666667,NaN,NaN,9471.875000,NaN,NaN
9,2017-01-10,65813.770833,68750.333333,NaN,NaN,9731.375000,NaN,NaN
10,2017-01-11,63511.229167,66669.666667,NaN,NaN,9757.208008,NaN,NaN
11,2017-01-12,65153.291667,68324.916667,NaN,NaN,11657.833010,NaN,NaN
12,2017-01-13,60842.333333,63978.333333,NaN,NaN,NaN,1833743.0,1743328.50
13,2017-01-14,60198.687500,63052.625000,NaN,NaN,NaN,1675421.0,1550578.00
14,2017-01-15,58774.250000,61579.833333,NaN,NaN,NaN,1488402.0,1420870.00
15,2017-01-16,65840.041667,69084.750000,NaN,NaN,NaN,1762275.0,1668453.50
16,2017-01-17,68839.270833,72542.875000,NaN,NaN,NaN,1757034.0,1700619.50
17,2017-01-18,69940.208333,73670.145833,NaN,NaN,NaN,1813405.0,1731881.75
18,2017-01-19,71488.270833,75175.562500,NaN,NaN,NaN,1808047.0,1734345.25
19,2017-01-20,71889.854167,75502.500000,NaN,NaN,NaN,1796086.0,1720155.75
20,2017-01-21,66260.020833,69277.166667,NaN,NaN,NaN,1648660.0,1556105.00
21,2017-01-22,62745.145833,65417.562500,NaN,NaN,NaN,1512844.0,1459476.25
22,2017-01-23,70222.083333,73246.937500,NaN,NaN,NaN,0.0,1659714.00
23,2017-01-24,71004.583333,74207.645833,NaN,NaN,NaN,1727903.0,1648512.00
24,2017-01-25,71847.145833,75111.729167,NaN,NaN,NaN,0.0,1672742.75
25,2017-01-26,70456.437500,73731.145833,NaN,NaN,NaN,1853168.0,1729383.00
26,2017-01-27,64717.791667,68000.229167,NaN,NaN,NaN,1831015.0,1720679.75
27,2017-01-28,61291.333333,63990.708333,NaN,NaN,NaN,1685562.0,1563990.50
28,2017-01-29,60320.916667,62653.458333,NaN,NaN,NaN,1540816.0,1477460.25
29,2017-01-30,64726.916667,67400.500000,NaN,NaN,NaN,1816691.0,1755624.00
...,...,...,...,...,...,...,...,...
1502,2016-12-02,NaN,NaN,NaN,NaN,NaN,1688564.0,1574330.00
1503,2016-12-03,NaN,NaN,NaN,NaN,NaN,1450582.0,1263944.25
1504,2016-12-04,NaN,NaN,NaN,NaN,NaN,1592280.0,1455351.25
1505,2016-12-05,NaN,NaN,NaN,NaN,NaN,1185829.0,1506508.50
1506,2016-12-06,NaN,NaN,NaN,NaN,NaN,1147217.0,1050255.00
1507,2016-12-07,NaN,NaN,NaN,NaN,NaN,1591353.0,1457670.25
1508,2016-12-08,NaN,NaN,NaN,NaN,NaN,1413387.0,1290872.25
1509,2016-12-09,NaN,NaN,NaN,NaN,NaN,1699706.0,1489533.75
1510,2016-12-10,NaN,NaN,NaN,NaN,NaN,1744853.0,1607520.50
1511,2016-12-11,NaN,NaN,NaN,NaN,NaN,1505968.0,1436439.50
1512,2016-12-12,NaN,NaN,NaN,NaN,NaN,1671029.0,1591410.50
1513,2016-12-13,NaN,NaN,NaN,NaN,NaN,1725327.0,1639888.25
1514,2016-12-14,NaN,NaN,NaN,NaN,NaN,1609175.0,1589131.50
1515,2016-12-15,NaN,NaN,NaN,NaN,NaN,1710266.0,1661603.25
1516,2016-12-16,NaN,NaN,NaN,NaN,NaN,1693600.0,1610404.50
1517,2016-12-17,NaN,NaN,NaN,NaN,NaN,1510997.0,1467910.00
1518,2016-12-18,NaN,NaN,NaN,NaN,NaN,1431224.0,1395706.25
1519,2016-12-19,NaN,NaN,NaN,NaN,NaN,1636358.0,1582503.75
1520,2016-12-20,NaN,NaN,NaN,NaN,NaN,1687875.0,1647275.75
1521,2016-12-21,NaN,NaN,NaN,NaN,NaN,1721211.0,1612798.50
1522,2016-12-22,NaN,NaN,NaN,NaN,NaN,1683286.0,1643474.25
1523,2016-12-23,NaN,NaN,NaN,NaN,NaN,1571103.0,1509578.75
1524,2016-12-24,NaN,NaN,NaN,NaN,NaN,1483109.0,1416253.25
1525,2016-12-25,NaN,NaN,NaN,NaN,NaN,1445538.0,1324053.75
1526,2016-12-26,NaN,NaN,NaN,NaN,NaN,1408444.0,1322281.25
1527,2016-12-27,NaN,NaN,NaN,NaN,NaN,1480803.0,1405793.50
1528,2016-12-28,NaN,NaN,NaN,NaN,NaN,1354793.0,1276963.75
1529,2016-12-29,NaN,NaN,NaN,NaN,NaN,1403699.0,1333800.25
1530,2016-12-30,NaN,NaN,NaN,NaN,NaN,1428166.0,1350093.25
1531,2016-12-31,NaN,NaN,NaN,NaN,NaN,1329492.0,1300797.50